
.arranged{
    display: inline-block; 
    position: relative;
    margin-left: 1rem;
    vertical-align: text-top;
}

.blogs{
    padding-left: 25%;
    width: 50vw;
    text-align: justify;
}

.nextPrev{
    width: 10vw;
    margin-left: 20rem;
    margin-top: 5rem;
    font-size: 2rem;
    background-color: #ebd5d5;
    text-align: center;
}