
.flowersBackground {
   
    background-image: url("../Images/flowerbg1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat;
    background-size: 100%
}

.flowersPanel {
    background-color: #f2f2f2;
    margin-left: 25%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
    text-align: center;
}

/*phone*/
@media(min-width: 320px) and (max-width: 480px){
    .flowersPanel {
        margin-left: 8%;
        width: 75%;
    }
}

/*tablet*/
@media(max-width: 1024px) and (orientation:portrait){
    
    .flowersPanel {
       margin-left: 10%;
       width: 75%;
   }
}