.politicsBackground {
   
    background-image: url("../Images/politicsBackgroundImg2.jpeg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat-y;
    background-size: 100%
}

.politicsPanel {
    background-color: #f2f2f2;
    margin-left: 25%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
    text-align: center;
}

span .posters{
    display: inline-block; 
    width: 30vw;
    margin-left: 1rem;
}

.poster{
    width: 25%;
    margin-left: 2rem;
}

/*phone*/
@media(min-width: 320px) and (max-width: 480px){
    .politicsPanel {
        margin-left: 8%;
        width: 75%;
        text-align: center;
    }

    .poster{
        width: 25%;
        margin-left: 0.5rem;
    }
}

/*tablet*/
@media(max-width: 1024px) and (orientation:portrait){
    .politicsPanel {
         margin-left: 10%;
         width: 75%;
         text-align: center;
     }
 }
