@font-face{
    font-family: paris;
    src:url(../Fonts/Parisienne-Regular.ttf)
}

@font-face{
    font-family: josefin;
    src:url(../Fonts/JosefinSlab-Regular.ttf)
}

@font-face{
    font-family: openSans;
    src:url(../Fonts/OpenSansCondensed-Light.ttf)
}

:root{
    --first-font: paris;
    --second-font: josefin;
    --main-font: openSans; 

    font-family: var(--main-font)
}

h1{
    font-family: var(--first-font);  
    font-size: 60px;
    padding-top: 70px;
}

h2{
    font-family: var(--second-font);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

h3{
    font-family: var(--second-font);
    padding-top: 20px;
    font-size: 20px;
}

a{
    padding-top: 10px;
}

p{
    padding-top: 10px;
}

section{
    padding-top: 10px;
    padding-bottom: 20px;
}

footer{
    text-align: center; 
    background-color: #ea8a8a;
    font-weight: bold;
    position: relative;
    height: 10%;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #f2f2f2;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.homeBackground {
   
    background-image: url("../Images/homeBackgroundImg1.jpeg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat-y;
    background-size: 100%
}

.homePanel {
    background-color: #f2f2f2;
    margin-left: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
    text-align: center;
}

.homeDivide {
    padding-top: 1rem;
    font-size: larger
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a.main{
    color: #ea8a8a;
}

a.main:visited{
    color: #ea8a8a;
}

a.main:active{
    color: #ea8a8a;
}

a.main:hover {
    font-weight: bold;
} 

nav{
    width: 100%;
    height: 50px;
    background-color: #ebd5d5;
    z-index: 9999;
    position: fixed;
}

nav ul{
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    z-index: 9999;
}

nav ul li a {
    display: block;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav ul li a:hover {
   font-weight: bold;
   color: black;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #ebd5d5;
    padding: 10px
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li{
    width: 400px;
}

nav ul li ul li a{
    padding: 6px 14px;
    font-size: 16px;
}

nav ul li ul li a:hover{
    background-color: #ea8a8a;
}

/*phone*/
@media(min-width: 320px) and (max-width: 480px){
    nav ul li a {
        padding: 8px 10px;
    }

    nav ul li ul li{
        width: 200px;
    }
    
    nav ul li ul li a{
        padding: 4px 14px;
        font-size: 12px;
    }

    h1{
        font-family: var(--first-font);  
        font-size: 40px;
        padding-top: 70px;
    }

    h2{
        font-family: var(--second-font);
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }

    footer{
        height: 5%;
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
        font-size: 80%;
    }
    
    .homePanel {
        margin-left: 8%;
        width: 75%;
    }
    
    .homeDivide {
        padding-top: 1rem;
        font-size: larger
    }
}

@media(max-width: 812px) and (orientation:landscape){
    nav ul li ul li{
        width: 300px;
    }
    
    nav ul li ul li a{
        padding: 2px 1px;
        font-size: 10px;
    }
}

/*tablet*/
@media(max-width: 1024px) and (orientation:portrait){
    
    .homePanel {
        margin-left: 10%;
        width: 75%;
    }
    
    .homeDivide {
        padding-top: 1rem;
        font-size: larger
    }
}