@font-face{
    font-family: paris;
    src:url(../Fonts/Parisienne-Regular.ttf)
}

@font-face{
    font-family: josefin;
    src:url(../Fonts/JosefinSlab-Regular.ttf)
}

@font-face{
    font-family: openSans;
    src:url(../Fonts/OpenSansCondensed-Light.ttf)
}

:root{
    --first-font: paris;
    --second-font: josefin;
    --main-font: openSans; 

    font-family: var(--main-font)
}

h1{
    font-family: var(--first-font);  
    font-size: 60px;
}

h2{
    font-family: var(--second-font);
}

h3{
    font-family: var(--second-font);
}