@font-face{
    font-family: beatrix;
    src:url(../Fonts/Beatrix\ Signature\ DEMO.ttf)
}

@font-face{
    font-family: lilly;
    src:url(../Fonts/Lilly__.ttf)
}

@font-face{
    font-family: oceanside;
    src:url(../Fonts/Oceanside\ Typewriter.ttf)
}

:root{
    --first-font: beatrix;
    --second-font: lilly;
    --main-font: oceanside 

    font-family: var(--main-font)
}

h1{
    font-family: var(--first-font);
}

h2{
    font-family: var(--second-font);
}

h3{
    font-family: var(--second-font);
}